<div class="col-md-3 bg-light p-3 min-vh-100">
    <h4 class="mb-4">Member Panel</h4>

    <ul class="nav flex-column">

        <li class="nav-item mb-2">
            <a class="nav-link"
               asp-controller="Member"
               asp-action="Index">
                Dashboard
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link"
               asp-controller="Member"
               asp-action="Profile">
                Profile
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link"
               asp-controller="Member"
               asp-action="BookedTickets">
                Booked Tickets
            </a>
        </li>

    </ul>
</div>
