@{
    ViewData["Title"] = "Booked Tickets";
}

<div class="container-fluid">
    <div class="row">

        @await Html.PartialAsync("_MemberSidebar")

        <div class="col-md-9 p-4">
            <h2>My Booked Tickets</h2>
            <hr />

            <div class="alert alert-info">
                You have not booked any tickets yet.
            </div>

        </div>

    </div>
</div>
